# Data Exploration: Sparks & Rec

First, download and import necessary libraries.

In [5]:
pip install altair vega_datasets

Requirement already satisfied: altair in c:\users\stlp\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: vega_datasets in c:\users\stlp\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: numpy in c:\users\stlp\anaconda3\lib\site-packages (from altair) (1.20.3)
Requirement already satisfied: entrypoints in c:\users\stlp\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: toolz in c:\users\stlp\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: jsonschema>=3.0 in c:\users\stlp\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: jinja2 in c:\users\stlp\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: pandas>=0.18 in c:\users\stlp\anaconda3\lib\site-packages (from altair) (1.3.4)
Requirement already satisfied: attrs>=17.4.0 in c:\users\stlp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\stlp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: six>=1.11.0 in c:\users\stlp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (1.16.0)
Requirement already satisfied: setuptools in c:\users\stlp\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (58.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\stlp\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\stlp\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\stlp\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import altair as alt

Load in the data and look at the first few rows

In [12]:
# v for visits
v = pd.read_csv(r'monthly_vis_by_site_zeroed.csv')
v.head()

,siteid,Name,month,year,years_fire,pre_post_fire,burned,closed_ever,tot_vis,closed_month,d2p
0,CRG_002,Oneonta Gorge,1,2015,-3,pre,yes,yes,169,open,2015-01-15
1,CRG_002,Oneonta Gorge,1,2016,-2,pre,yes,yes,436,open,2016-01-15
2,CRG_002,Oneonta Gorge,1,2017,-1,pre,yes,yes,788,open,2017-01-15
3,CRG_002,Oneonta Gorge,1,2018,0,post,yes,yes,0,closed,2018-01-15
4,CRG_002,Oneonta Gorge,1,2019,1,post,yes,yes,0,closed,2019-01-15

Next, check out each variable in turn. 

"siteid" and "Name' identify the trail/recreation sites. There are 41 sites and each site has 61 rows in the data.

In [17]:
v['siteid'].nunique()
# siteid - string, 41 unique values

41

In [19]:
v['Name'].nunique()
# Name - string, 41 unique values

Oneonta Gorge                         61
Angels rest trail                     61
Latourell Falls                       61
Dog River                             61
Umbrella/Sahalie Falls                61
Surveyors ridge/cooks meadow          61
Eight Mile trail                      61
Cape Horn                             61
Falls Creek Falls                     61
Panther Creek Falls                   61
Weldon Wagon Rd Trail                 61
Lower Deschutes                       61
Mosier Twin Tunnels Trail             61
Klickitat Trail                       61
Starvation Creek area                 61
Washougal River area                  61
Wind Mountain                         61
Dog Creek Falls                       61
Spirit falls                          61
Beacon Rock                           61
Wahkeena Falls                        61
Horsetail Creek                       61
Horsetail Falls                       61
Nesmith Point, McCord, Elowa Falls    61
Munra Falls                           61
Tanner Butte                          61
Eagle Creek                           61
Indian Springs                        61
Ruckel Creek                          61
Coyote Wall area                      61
Catherine Creek area                  61
Cherry Orchard FCG trail              61
Tom McCall TNC trail                  61
Crawford Oaks WDNR                    61
Mosier Plateau FCG trail              61
Memaloose trail                       61
Tamanawas Falls trail                 61
Dog Mountain/Augspurger Mtn           61
Mitchell/Wygant area                  61
Herman Creek                          61
Larch Mountain                        61
Name: Name, dtype: int64

In [25]:
v['Name'].value_counts()
# appears to be a balanced panel - each site has 61 entries

Oneonta Gorge                         61
Angels rest trail                     61
Latourell Falls                       61
Dog River                             61
Umbrella/Sahalie Falls                61
Surveyors ridge/cooks meadow          61
Eight Mile trail                      61
Cape Horn                             61
Falls Creek Falls                     61
Panther Creek Falls                   61
Weldon Wagon Rd Trail                 61
Lower Deschutes                       61
Mosier Twin Tunnels Trail             61
Klickitat Trail                       61
Starvation Creek area                 61
Washougal River area                  61
Wind Mountain                         61
Dog Creek Falls                       61
Spirit falls                          61
Beacon Rock                           61
Wahkeena Falls                        61
Horsetail Creek                       61
Horsetail Falls                       61
Nesmith Point, McCord, Elowa Falls    61
Munra Falls                           61
Tanner Butte                          61
Eagle Creek                           61
Indian Springs                        61
Ruckel Creek                          61
Coyote Wall area                      61
Catherine Creek area                  61
Cherry Orchard FCG trail              61
Tom McCall TNC trail                  61
Crawford Oaks WDNR                    61
Mosier Plateau FCG trail              61
Memaloose trail                       61
Tamanawas Falls trail                 61
Dog Mountain/Augspurger Mtn           61
Mitchell/Wygant area                  61
Herman Creek                          61
Larch Mountain                        61
Name: Name, dtype: int64

Looking at the month variable, something weird emerges - looks like month 9 (september) has an extra 41 rows.

In [27]:
v['month'].value_counts()
# Month runs from 1 to 12, but 9 (September) has 41 more rows

9     246
1     205
2     205
3     205
4     205
5     205
6     205
7     205
8     205
10    205
11    205
12    205
Name: month, dtype: int64

It looks like September 2016 has double the rows of any other month. Also, the data starts in September 2014 and ends in August 2019.

In [29]:
pd.crosstab(v['month'], v['year'])

year   2014  2015  2016  2017  2018  2019
month
1         0    41    41    41    41    41
2         0    41    41    41    41    41
3         0    41    41    41    41    41
4         0    41    41    41    41    41
5         0    41    41    41    41    41
6         0    41    41    41    41    41
7         0    41    41    41    41    41
8         0    41    41    41    41    41
9        41    41    82    41    41     0
10       41    41    41    41    41     0
11       41    41    41    41    41     0
12       41    41    41    41    41     0